{% extends 'home/base.html' %}

{% load static %}

{% block title %} Html Video 2 {% endblock %}
{% block link %} 
    <link rel="stylesheet" href="{% static 'html_app/styles/html_home_video_2.css' %}">
{% endblock %}


{% block content %} 

    <div class="html_header_video_2_header">
        <div class="html_link_video_2_header">
            <a href="{% url 'home' %}">მთავარი</a>
            <span>></span>
            <a href="{% url 'html_home' %}">HTML</a>
            <span>></span>
            <span class="span_color">HTML ვიდეო ლექცია 2</span>
        </div>
        <h1> <span>HTML</span> ვიდეო <br> ლექცია 2</h1>
        <hr>

        <div class="html_video_2">
            <div class="html_video_2_part_1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uhEchDiLPO0?si=S-ln2diDiQNIM4u9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="https://www.youtube.com/watch?v=uhEchDiLPO0&list=PLYKbEUQ15MtStLr4zMQbAWUfKjD9ghx14&index=3" target="_blank">ვიდეოზე გადასვლა</a>
            </div>

            <div class="html_video_2_part_2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Pd3FBozJMYs?si=FP4k2zoIP2v_Vxou" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="https://www.youtube.com/watch?v=Pd3FBozJMYs&list=PLYKbEUQ15MtStLr4zMQbAWUfKjD9ghx14&index=4" target="_blank">ვიდეოზე გადასვლა</a>
            </div>
        </div>

        <hr>


        <div class="html_content_2">
            <div class="script">
                <h2>ახალი პროექტის დაწყება</h2>
                <ul>
                    <li> 
                        <p>
                            <span>Index.html</span> ფაილში ჩავწეროთ !
                            <div class="btn_center">
                                <button class="btn_visible_style btn_visible_1">სქრინი</button>
                            </div>
                            <br>
                            <img src="{% static 'html_app/img/screen_leqcia_2_1.png' %}" alt="1" class="img_hidden img_visible_1" id="image">
                        </p> 
                    </li>
                    <li>
                        <p>
                            შემდეგ <span>Enter</span>  -ს დავაწვეთ
                            <div class="btn_center">
                                <button class="btn_visible_style btn_visible_2">სქრინი</button>
                            </div>
                            <br>
                            <img src="{% static 'html_app/img/screen_leqcia_2_2.png' %}" alt="2" class="img_hidden img_visible_2" id="image2">
                        </p>
                    </li>
                    <li>
                        <p>
                            დააჭირეთ <span> ALT + Z</span> რომ დამალული ტექსტი ქვედა სქროლის გარეშე გამოჩნდეს
                            <div class="btn_center">
                                <button class="btn_visible_style btn_visible_3">სქრინი</button>
                            </div>
                            <br>
                            <img src="{% static 'html_app/img/screen_leqcia_2_3.png' %}" alt="3" class="img_hidden img_visible_3" id="image3">
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>Search</span> - ის გამოყენება
                            <br>
                            ჩავწეროთ მაგალითად <span>title</span> და html დოკუმენტში ყველას მოგიძებნით
                            <div class="btn_center">
                                <button class="btn_visible_style btn_visible_4">სქრინი</button>
                            </div>
                            <br>
                            <img src="{% static 'html_app/img/screen_leqcia_2_4.png' %}" alt="4" class="img_hidden img_visible_4"  id="image4">
                        </p>
                    </li>
                    </li>
                    <li>
                        <p>
                            თუ მაგალიდად <span>Replace</span> -ში ჩავწერთ სხვა ტეგს ან რამე ტექსტს, <span>title</span> - ს სადაც ნახავს ყველგან შეცვლის
                            <div class="btn_center">
                                <button class="btn_visible_style btn_visible_5">სქრინი</button>
                            </div>

                            <br>
                            <img src="{% static 'html_app/img/screen_leqcia_2_5.png' %}" alt="5" class="img_hidden img_visible_5" id="image5">
                            <img src="{% static 'html_app/img/screen_leqcia_2_6.png' %}" alt="6" class="img_hidden img_visible_6" id="image6">
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        
        <div class="html_content_2">
            <div class="script" >
                <h2>Html დოკუმენტის სტრუქტურა</h2>
                <div class="btn_center">
                    <button class="btn_visible_style html_doc_struct_btn">ვრცლად</button>
                </div>
                <br>
                <ul class="html_doc_struct_ul">
                    <li> 
                        <p>
                            <span> < !DOCTYPE html> </span>
                            <ul>
                                <li>
                                    ეს არის დოკუმენტის ტიპის დეკლარაცია.
                                </li>
                                <li>
                                    ის მითითებას აძლევს ბრაუზერს რომ დოკუმენტი დაწერილია HTML5 ვერსიაზე.
                                </li>
                                <li>
                                    ამ კოდის ფრაგმენტის გარეშე ბრაუზერმა შეიძლება ავტომატურად გადართოს HTML -ის დოკუმენტის სხვა ვერსიაზე, რის შემდეგაც დაირღვევა საიტის ვიზუალური სტრუქტურა
                                </li>
                            </ul>
                        </p> 
                    </li>

                    <li>
                        <p>
                            <span> < html lang="en"> </span>
                            <ul>
                                <li>
                                    html ტეგში მოტავსებული ატრიბუტი lang="en" ნიშნავს რომ გვერდი დაწერილია ინგლისურ ენაზე. 
                                </li>
                            </ul>
                        </p>
                    </li>

                    <li>
                        <p>
                            <span> &lt;head&gt; </span>
                            <ul>
                                <li>
                                    სექცია არის მეტამონაცემების და დამხმარე ინფორმაციისთვის, რომელიც გვერდზე არ ჩანს, მაგრამ გამოიყენება ბრაუზერის მიერ.
                                </li>
                                <li>
                                    ამ სექციაში ხშირად შედის: <br>
                                    a) <span> < meta charset="UTF-8"> </span> 
                                    <br>
                                    აღნიშნავს დოკუმენტის კოდის ფორმატს. UTF-8 მხარს უჭერს მსოფლიოს სხვადასხვა ენას, რაც უზრუნველყოფს ტექსტის სწორ გამოტანას.
                                    <br> <br>

                                    b) <span>< meta name="viewport" content="width=device-width, initial-scale=1.0"> </span> 
                                    <br>
                                    აყენებს პარამეტრებს სხვადასხვა მოწყობილობების ეკრანზე გამოსახვისთვის. width=device-width აყენებს გვერდის სიგანეს მოწყობილობის ეკრანის სიგანეზე. initial-scale=1.0 განსაზღვრავს გვერდის საწყის მასშტაბს.

                                    <br> <br>

                                    c) <span>< title>Document < /title> </span> განსაზღვრავს გვერდის სათაურს, რომელიც: ჩანს ბრაუზერის ფანჯრის თავში. ჩნდება საძიებო სისტემის შედეგებში.
                                </li>
                            </ul>
                        </p>
                    </li>

                    <li>
                        <p>
                            <span> < body> </span>
                            <br>
                            მთავარი ტეგი შიგთავსისთვის, რომელიც მომხმარებელს გვერდზე უჩანს. აქ მოთავსებულია ისეთი ელემენტები, როგორებიცაა ტექსტი, სურათები, ვიდეოები, ღილაკები, ბმულები და სხვა. ყველა ვიზუალური ელემენტი ამ ნაწილშია მოთავსებული.
                        </p>
                    </li>

                </ul>
            </div>
        </div>

        <div class="html_content_2">
            <div class="script" >
                <h2>Html ტეგები</h2>

            </div>
        </div>

        <hr class="margin-top-hr">
    
    </div>




    {% include 'html_app/html_home_console.html' %}
    
    <script src="{% static 'html_app\js\html_home_video_2.js' %}">
    </script>
    <script src="{% static 'html_app\js\html_home_video_2_file_2.js' %}">
    </script>
    <script src="{% static 'html_app\js\html_home_video_2_file_3.js' %}">
    </script>

{% endblock %}