{% extends 'home/base.html' %}

{% load static %}

{% block title %} Html Video 2 {% endblock %}
{% block link %} 
    <link rel="stylesheet" href="{% static 'html_app/styles/html_home_video_2.css' %}">
{% endblock %}


{% block content %} 

    <div class="html_header_video_2_header">
        <div class="html_link_video_2_header">
            <a href="{% url 'home' %}">მთავარი</a>
            <span>></span>
            <a href="{% url 'html_home' %}">HTML</a>
            <span>></span>
            <span class="span_color">HTML ვიდეო ლექცია 2</span>
        </div>
        <h1> <span>HTML</span> ვიდეო <br> ლექცია 2</h1>
        <hr>

        <div class="html_video_2">
            <div class="html_video_2_part_1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uhEchDiLPO0?si=S-ln2diDiQNIM4u9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="https://www.youtube.com/watch?v=uhEchDiLPO0&list=PLYKbEUQ15MtStLr4zMQbAWUfKjD9ghx14&index=3" target="_blank">ვიდეოზე გადასვლა</a>
            </div>

            <div class="html_video_2_part_2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Pd3FBozJMYs?si=FP4k2zoIP2v_Vxou" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="https://www.youtube.com/watch?v=Pd3FBozJMYs&list=PLYKbEUQ15MtStLr4zMQbAWUfKjD9ghx14&index=4" target="_blank">ვიდეოზე გადასვლა</a>
            </div>
        </div>

        <hr>


        <div class="html_content_2">
            <div class="script">
                <h2>ახალი პროექტის დაწყება</h2>
                <div class="btn_center">
                    <button class="btn_visible_style start_new_project_btn">ვრცლად</button>
                </div>
                <ul class="start_new_project_ul" style="display: none;">
                    <li> 
                        <p>
                            <span>Index.html</span> ფაილში ჩავწეროთ !
                            <div class="btn_center">
                                <button class="btn_visible_style btn_visible_1">სქრინი</button>
                            </div>
                            <br>
                            <img src="{% static 'html_app/img/screen_leqcia_2_1.png' %}" alt="1" class="img_hidden img_visible_1" id="image">
                        </p> 
                    </li>
                    <li>
                        <p>
                            შემდეგ <span>Enter</span>  -ს დავაწვეთ
                            <div class="btn_center">
                                <button class="btn_visible_style btn_visible_2">სქრინი</button>
                            </div>
                            <br>
                            <img src="{% static 'html_app/img/screen_leqcia_2_2.png' %}" alt="2" class="img_hidden img_visible_2" id="image2">
                        </p>
                    </li>
                    <li>
                        <p>
                            დააჭირეთ <span> ALT + Z</span> რომ დამალული ტექსტი ქვედა სქროლის გარეშე გამოჩნდეს
                            <div class="btn_center">
                                <button class="btn_visible_style btn_visible_3">სქრინი</button>
                            </div>
                            <br>
                            <img src="{% static 'html_app/img/screen_leqcia_2_3.png' %}" alt="3" class="img_hidden img_visible_3" id="image3">
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>Search</span> - ის გამოყენება
                            <br>
                            ჩავწეროთ მაგალითად <span>title</span> და html დოკუმენტში ყველას მოგიძებნით
                            <div class="btn_center">
                                <button class="btn_visible_style btn_visible_4">სქრინი</button>
                            </div>
                            <br>
                            <img src="{% static 'html_app/img/screen_leqcia_2_4.png' %}" alt="4" class="img_hidden img_visible_4"  id="image4">
                        </p>
                    </li>
                    </li>
                    <li>
                        <p>
                            თუ მაგალიდად <span>Replace</span> -ში ჩავწერთ სხვა ტეგს ან რამე ტექსტს, <span>title</span> - ს სადაც ნახავს ყველგან შეცვლის
                            <div class="btn_center">
                                <button class="btn_visible_style btn_visible_5">სქრინი</button>
                            </div>

                            <br>
                            <img src="{% static 'html_app/img/screen_leqcia_2_5.png' %}" alt="5" class="img_hidden img_visible_5" id="image5">
                            <img src="{% static 'html_app/img/screen_leqcia_2_6.png' %}" alt="6" class="img_hidden img_visible_6" id="image6">
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        
        <div class="html_content_2">
            <div class="script" >
                <h2>Html დოკუმენტის სტრუქტურა</h2>
                <div class="btn_center">
                    <button class="btn_visible_style html_doc_struct_btn">ვრცლად</button>
                </div>
                <br>
                <ul class="html_doc_struct_ul">
                    <li> 
                        <p>
                            <span> < !DOCTYPE html> </span>
                            <ul>
                                <li>
                                    ეს არის დოკუმენტის ტიპის დეკლარაცია.
                                </li>
                                <li>
                                    ის მითითებას აძლევს ბრაუზერს რომ დოკუმენტი დაწერილია HTML5 ვერსიაზე.
                                </li>
                                <li>
                                    ამ კოდის ფრაგმენტის გარეშე ბრაუზერმა შეიძლება ავტომატურად გადართოს HTML -ის დოკუმენტის სხვა ვერსიაზე, რის შემდეგაც დაირღვევა საიტის ვიზუალური სტრუქტურა
                                </li>
                            </ul>
                        </p> 
                    </li>

                    <li>
                        <p>
                            <span> < html lang="en"> </span>
                            <ul>
                                <li>
                                    html ტეგში მოტავსებული ატრიბუტი lang="en" ნიშნავს რომ გვერდი დაწერილია ინგლისურ ენაზე. 
                                </li>
                            </ul>
                        </p>
                    </li>

                    <li>
                        <p>
                            <span> &lt;head&gt; </span>
                            <ul>
                                <li>
                                    სექცია არის მეტამონაცემების და დამხმარე ინფორმაციისთვის, რომელიც გვერდზე არ ჩანს, მაგრამ გამოიყენება ბრაუზერის მიერ.
                                </li>
                                <li>
                                    ამ სექციაში ხშირად შედის: <br>
                                    a) <span> < meta charset="UTF-8"> </span> 
                                    <br>
                                    აღნიშნავს დოკუმენტის კოდის ფორმატს. UTF-8 მხარს უჭერს მსოფლიოს სხვადასხვა ენას, რაც უზრუნველყოფს ტექსტის სწორ გამოტანას.
                                    <br> <br>

                                    b) <span>< meta name="viewport" content="width=device-width, initial-scale=1.0"> </span> 
                                    <br>
                                    აყენებს პარამეტრებს სხვადასხვა მოწყობილობების ეკრანზე გამოსახვისთვის. width=device-width აყენებს გვერდის სიგანეს მოწყობილობის ეკრანის სიგანეზე. initial-scale=1.0 განსაზღვრავს გვერდის საწყის მასშტაბს.

                                    <br> <br>

                                    c) <span>< title>Document < /title> </span> განსაზღვრავს გვერდის სათაურს, რომელიც: ჩანს ბრაუზერის ფანჯრის თავში. ჩნდება საძიებო სისტემის შედეგებში.
                                </li>
                            </ul>
                        </p>
                    </li>

                    <li>
                        <p>
                            <span> < body> </span>
                            <br>
                            მთავარი ტეგი შიგთავსისთვის, რომელიც მომხმარებელს გვერდზე უჩანს. აქ მოთავსებულია ისეთი ელემენტები, როგორებიცაა ტექსტი, სურათები, ვიდეოები, ღილაკები, ბმულები და სხვა. ყველა ვიზუალური ელემენტი ამ ნაწილშია მოთავსებული.
                        </p>
                    </li>

                </ul>
            </div>
        </div>

        <div class="html_content_2">
            <div class="script" >
                <h2>Html ტეგები</h2>
                <div class="btn_center">
                    <button class="btn_visible_style html_doc_tags">ვრცლად</button>
                </div>
                <ul class="html_doc_tags_ul" style="display: none;">
                    <li>
                        <p>
                            HTML-ში <span>< p > </span> ტეგი გამოიყენება პარაგრაფების (ანუ ტექსტის აბზაცების) განსაზღვრისთვის.

                            <hr class="hr_margin">

                            <h4 style="margin-left: 20px; font-size: 22px;">ძირითადი თვისებები:</h4>

                            <p>
                                1) <span>< p > </span> ტეგი აღნიშნავს ტექსტის ლოგიკურ სტრუქტურულ ნაწილს და ავტომატურად ქმნის სივრცეს ზევით და ქვემოთ პარაგრაფის ირგვლივ.
                                <br> <br>
                                2) ავტომატური მინდვრები: ბრაუზერები ავტომატურად ზრდიან შიგა და გარეთა მინდვრებს (margin)  <span>< p > </span>  ტეგისთვის, რაც აბზაცის ტექსტს უკეთ კითხვადად ხდის.
                            </p>
                        </p>
                    </li>

                    <li>
                        <p>
                            <span> < h1 > </span> -დან <span> < h6 > </span> ტეგები HTML-ში გამოიყენება სათაურების (headers) დასასახელებლად, რომელიც ეკვივალენტურია მნიშვნელობით სიუჟეტის დონეს.
                            <hr class="hr_margin">

                            <p>
                                <h4 class="h4_style">
                                    რანგი:
                                </h4>
                                <p>
                                    <span> < h1 > </span> — ყველაზე მნიშვნელოვანი სათაური. <br>
                                    <span> < h2 > </span> — მეორე რანგის სათაური. <br>
                                    <span> < h3 > </span> — მესამე რანგის სათაური, და ასე შემდეგ... <br>
                                    <span> < h6 > </span> — ყველაზე დაბალი, მეხუთე და მეექვსე რანგის სათაურები. <br>
                                </p>

                                <hr class="hr_margin">


                                <h4 class="h4_style">
                                    ძირითადი გამოყენება:
                                </h4>
                                <p>
                                1) ჰედერ (სათაური) წარმოადგენს ტვიქტურ ინფორმაციას და გამოიყენება გვერდზე, სტატია ან სხვა შინაარსის სტრუქტურირებისთვის. <br> <br>
                                2) HTML დოკუმენტში მრავალგვარი სათაური მიზნად ისახავს შინაარსის ჰიერრარქიული სტრუქტურას (ორგანიზებული ტვიქტურა), რაც ასმეთარგმნათ საძიებო სისტემებისთვის, შესაძლებლობა მათ შეიცვალოს შინაარსი მნიშვნელოვანი რგოლებით.
                                </p>
                            </p>
                        </p>
                    </li>

                    <li>
                        <p>
                            <div class="background_p">
                                <h1 class="heading_styeles_h1">heading 1</h1>
                                <h2 class="heading_styeles_h2">heading 2</h2>
                                <h3 class="heading_styles">heading 3</h3>
                                <h4 class="heading_styles">heading 4</h4>
                                <h5 class="heading_styles">heading 5</h5>
                                <h6 class="heading_styles">heading 6</h6>
                            </div>
                        </p>
                    </li>

                    <li>
                        <p>
                            <h4 class="h4_style">რა არის lorem ipsum"</h4>
                            
                            <div class="margin-left-cont">
                                როცა დიზაინერები მუშაობენ ვებ-გვერდის ან სხვა ტიპის დიზაინის ჩარჩოებზე, მათ ხშირად უნდა გამოიყენონ შევსების ტექსტი, რომ იპოვონ სრულყოფილი ანალოგი იმ სივრცეებისთვის, რომლებსაც ის ტექსტური ელემენტები შეივსებს.
                            </div>

                            <hr class="hr_margin">

                            <h4 class="h4_style">
                                ამიტომ:
                            </h4>

                            <div class="margin-left-cont">
                                <ul>
                                    <li>
                                        გამოყენება: გამოიყენება შევსების ტექსტის სახით, რათა შეიქმნას ბლოკების სტილი და დაზუსტდეს დიზაინის პრეზენტაცია, სანამ შინაარსი კიდევ არ არსებობს.
                                    </li>
                                    <li>
                                        ამ შემთხვევაში, Lorem ipsum ტექსტი არ გადმოსცემს რაიმე მნიშვნელობას, მხოლოდ დამალულია თავიდანატეხის სტრუქტურა.
                                    </li>
                                </ul>
                            </div>

                            <hr class="hr_margin">

                            <h4 class="h4_style">
                                მაგალითად:
                            </h4>

                            <div class="background_p">
                                <p style="color: antiquewhite;">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam hic praesentium, illo sint dolorem sit placeat a rerum magni eaque quasi fugit maxime enim nam iure ducimus cumque. Soluta, dolor?
                                </p>
                            </div>

                            <hr class="hr_margin">

                            <div class="margin-left-cont">
                                უბრალოდ VsCode - ში აკრიფეთ lorem და დააჭირეთ Enter - ს
                            </div>
                        </p>
                    </li>

                    <li>
                        <p>
                            <h4 class="h4_style"> <span>< div ></span>  ტეგი: </h4>
                            <div class="margin-left-cont">
                                არის HTML-ის უნივერსალური და ყველაზე ხშირად გამოყენებადი ელემენტი, რომელსაც არ აქვს განსაზღვრული სტანდარტული ვიზუალური სტილი ან ფუნქცია. მისი დანიშნულებაა შექმნას საკონტეინერო ყუთები, რომლებიც გამოიყენება ვებსაიტის სტრუქტურის დასამორჩილებლად და სხვადასხვა შინაარსის ორგანიზებისთვის.
                            </div>

                            <hr class="hr_margin">

                            <h4 class="h4_style"> <span>< div ></span> -ის დანიშნულება </h4>
                            <div class="margin-left-cont">
                                <ol class="ul_li_margin_0">
                                    <li>კონტენტის ორგანიზება:</li>
                                    <ul class="ul_li_margin_0">
                                        <li>
                                            სექციური დაყოფა: გვერდის ან ვებსაიტის შიგთავს <span> < div ></span>-ის გამოყენება დაგეხმარებათ, რომ დააჯგუფოთ მსგავსი ელემენტები ერთ სივრცეში.
                                        </li>
                                        <div class="background_p text">
                                            <p style="color: antiquewhite;">
                                                < div > <br>
                                                    < h1 >სათაური< /h1 >  <br>
                                                    < p >პარაგრაფი< /p > <br>
                                                < /div > <br>
                                            </p>
                                        </div>
                                    </ul>
                                </ol>
                            </div>

                            <hr class="hr_margin">

                            <h4 class="h4_style">როდის გამოიყენება <span> < div > </span> </h4>
                            <div class="margin-left-cont">

                                <ul class="ul_li_margin_0">
                                    <li>
                                        როდესაც ელემენტები არ ეხება არცერთ სპეციფიკურ HTML სექციას, მაგალითად, <br>
                                        <span> < header > </span> <br>
                                        <span> < section > </span>  <br>
                                        <span> < footer > </span> <br>
                                        და ა.შ.
                                    </li>
                                    <li>
                                        დიდი შინაარსის ორგანიზება დასაყოფად ან დასაკონტროლებლად.
                                    </li>
                                    <li>
                                        მრავალშრიანი კომპლექსური დიზაინის შექმნა (Grid, Flexbox).
                                    </li>
                                </ul>
                            </div>

                            <hr class="hr_margin">

                            <h4 class="h4_style">გამოყენების რეკომენდაცია:</h4>
                            <div class="margin-left-cont">
                                გარკვეული სექციებისათვის, როგორიცაა <br>
                                <span> < header > </span>   <br>
                                <span> < footer > </span>   <br> და <br>
                                <span> < section > </span>  <br>
                                ჯობია სწორედ მათი ტეგები გამოიყენოთ. მაგრამ თუ საჭირო ხდება სრულიად უნივერსალური ჯგუფი ან რთული კონტეინერები, < div > არის მთავარი გამოსავალი.
                            </div>
                        </p>
                    </li>

                    <li>
                        <p>
                            <h4 class="h4_style">კომენტარი HTML -ში</h4>
                            <div class="margin-left-cont">
                                HTML-ში კომენტარები გამოიყენება კოდის ნაწილების აღწერის, ორგანიზების ან დროებით გამორთვისთვის. კომენტარები არ ჩანს ვებსაიტის მომხმარებელს ბრაუზერში და განკუთვნილია მხოლოდ დეველოპერებისთვის.
                            </div>

                            <hr class="hr_style">

                            <h4 class="h4_style">როგორ იწერება კომენტარი HTML-ში</h4>
                            <div class="margin-left-cont">
                                HTML-ის კომენტარი იწყება < !-- და მთავრდება -- >
                            </div>
                        </p>
                    </li>

                </ul>
            </div>
        </div>


        <div class="html_content_2">
            <div class="script" >

                <h2>ლექციის კოდი</h2>

                <hr class="margin-top-hr">

                <div class="code_cont">
                    <div class="code_box">
                        <img src="{% static 'html_app/img/code_box_icons/downlaod-file.png' %}" class="m-left-20" alt="">
                        <a href="{% static 'video_code/video_2_code/index_video_2.html' %}" download class="btn_code_style color_black">
                            კოდის <br> გადმოწერა
                        </a>
                    </div>
                    <div class="code_box">
                        <img src="{% static 'html_app/img/code_box_icons/view.png' %}" class="m-left-20" alt="">
                        <a href="{% static 'video_code/video_2_code/index_video_2.txt' %}" target="_blank" class="btn_code_style color_black">
                            კოდის ნახვა
                        </a>
                    </div>
                    <div class="code_box">
                        <img src="{% static 'html_app/img/code_box_icons/website.png' %}" class="m-left-20 m-left-21" alt="" >
                        <a href="{% static 'video_code/video_2_code/index_video_2.html' %}" target="_blank" class="btn_code_style color_black">
                            გვერდის ნახვა
                        </a>
                    </div>
                </div>
                
                <div class="video_code_download" style="display: none;">
                    <a href="{% static 'video_code/video_2_code/index_video_2.html' %}" download class="btn_visible_style color_black">
                        კოდის გადმოწერა
                    </a>
        
                    <a href="{% static 'video_code/video_2_code/index_video_2.txt' %}" target="_blank" class="btn_visible_style color_black">
                        კოდის ნახვა
                    </a>
        
                    <a href="{% static 'video_code/video_2_code/index_video_2.html' %}" target="_blank" class="btn_visible_style color_black">
                        გვერდის ნახვა
                    </a>
                </div>

            </div>
        </div>

        <div class="html_content_2">
            <div class="script" >
                <h2>IMG ფოტოების ტეგი</h2>

                <div class="btn_center ">
                    <button class="btn_visible_style html_doc_img">ვრცლად</button>
                </div>
                <ul class="html_doc_img_ul" style="display: none;">
                    <li>
                        <p>
                            თუ ვსაუბრობთ HTML-ში გამოსახულებების განთავსებაზე, <span> < img > </span> ტეგი გამოიყენება გამოსახულებების ჩასადებად გვერდზე. მისი სტრუქტურა ასეთია:

                            <br>

                            <img src="{% static 'html_app/img/img_tag.png' %}" alt="8" class="img_zoom_1_btn img_zoom_1">

                            <hr class="hr_margin">

                            <ul class="ul_li_margin_0">
                                <li>
                                    <span> src </span> (source) ატრიბუტი გვიჩვენებს სურათის წყაროს (ფაილის ადგილმდებარეობას).
                                </li>
                                <li>
                                    <span> alt </span> (alternative text) ატრიბუტი შეიცავს აღწერილობას იმ შემთხვევაში, თუ სურათი ვერ დაიტვირთება, ან თუ ვიზუალურად შეზღუდული ადამიანი სურს გაიგოს სურათის შინაარსი (ეს ასევე ეხმარება SEO-ს).
                                </li>
                            </ul>
                        </p>
                    </li>
                </ul>
            </div>
        </div>


        <div class="html_content_2">
            <div class="script" >
                <h2>Style ატრიბუტი</h2>

                <div class="btn_center ">
                    <button class="btn_visible_style html_doc_style_btn">ვრცლად</button>
                </div>

                <ul class="html_doc_style_ul" style="display: none;">
                    <li>
                        <p>
                            style პარამეტრი (ატრიბუტი) გამოიყენება HTML ტეგში, რომ პირდაპირ განვსაზღვროთ სტილი (CSS) კონკრეტული ელემენტისათვის. ეს საშუალებას გვაძლევს, რომ არა მხოლოდ გლობალურად ( მაგალითად, style ტეგში ), არამედ თითოეული ელემენტისთვის შევცვალოთ ვიზუალი ინდივიდუალურად.

                            <hr class="hr_margin">
                            
                            <h4 class="h4_style">სინტაქსი:</h4>
                            <br>
                            <img src="{% static './html_app/img/style_img/style_img_1.png' %}" alt="style_img_1" style="margin-left: 20px;">
                            
                            
                            <hr class="hr_margin">

                            <h4 class="h4_style">მაგალითები:</h4>
                            <ul>
                                <li class="test">
                                    <p>ტექსტის ფერის შეცვლა:</p>
                                    <img src="{% static './html_app/img/style_img/style_img_1.png' %}" alt="style_img_1" style="margin-left: 20px;">
                                </li>
                                <li>
                                    <p>ფონის ფერის დამატება:</p>
                                    <img src="{% static './html_app/img/style_img/style_img_2.png' %}" alt="style_img_2" style="margin-left: 20px;">
                                </li>
                                <li>
                                    <p>ტექსტის ცენტრში განთავსება და ზომის შეცვლა:</p>
                                    <img src="{% static './html_app/img/style_img/style_img_3.png' %}" alt="style_img_3" style="margin-left: 20px;">
                                </li>
                                <li>
                                    <p>ჩარჩოს დამატება და ელემენტის ზომის შეცვლა:</p>
                                    <img src="{% static './html_app/img/style_img/style_img_4.png' %}" alt="style_img_4" style="margin-left: 20px;">
                                </li>
                            </ul>

                            <hr class="hr_style">


                            <h4 class="h4_style">შენიშვნა:</h4>
                            <ul>
                                <li>
                                    style ატრიბუტი გამოიყენება ცალკეულ ელემენტზე, მაგრამ გარე CSS ფაილის გამოყენება (CSS stylesheet) უკეთესია დიდი პროექტებისთვის, რადგან ასე კოდი უფრო მოწესრიგებულია.
                                </li>
                                <li>
                                    უმჯობესია style მხოლოდ ერთეულ შემთხვევებში გამოიყენოთ და CSS ფაილები ან style ტეგი გამოიყენოთ საერთო დიზაინისთვის.
                                </li>
                                <li>
                                    გირჩევ, დიდ პროექტებში style-ს ნაცვლად class გამოიყენო და სტილები ცალკე CSS ფაილში განსაზღვრო! 🎨
                                </li>
                            </ul>
                        </p>
                    </li>
                </ul>

            </div>
        </div>
        
        
        
        <hr class="margin-top-hr">

    </div>



    {% include 'html_app/html_home_console.html' %}
    
    <script src="{% static 'html_app\js\html_home_video_2.js' %}">
    </script>
    <script src="{% static 'html_app\js\html_home_video_2_file_2.js' %}">
    </script>
    <script src="{% static 'html_app\js\html_home_video_2_file_3.js' %}">
    </script>
    <script src="{% static 'html_app\js\html_home_video_2_file_4_img_tag_zoom.js' %}">
    </script>

{% endblock %}