{% extends 'home/base.html' %}

{% load static %}

{% block title %} Html Video 2 {% endblock %}
{% block link %} 
    <link rel="stylesheet" href="{% static 'html_app/styles/html_home_video_2.css' %}">
{% endblock %}


{% block content %} 

    <div class="html_header_video_2_header">
        <div class="html_link_video_2_header">
            <a href="{% url 'home' %}">მთავარი</a>
            <span>></span>
            <a href="{% url 'html_home' %}">HTML</a>
            <span>></span>
            <span class="span_color">HTML ვიდეო ლექცია 2</span>
        </div>
        <h1> <span>HTML</span> ვიდეო <br> ლექცია 2</h1>
        <hr>

        <div class="html_video_2">
            <div class="html_video_2_part_1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uhEchDiLPO0?si=S-ln2diDiQNIM4u9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="https://www.youtube.com/watch?v=uhEchDiLPO0&list=PLYKbEUQ15MtStLr4zMQbAWUfKjD9ghx14&index=3" target="_blank">ვიდეოზე გადასვლა</a>
            </div>

            <div class="html_video_2_part_2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Pd3FBozJMYs?si=FP4k2zoIP2v_Vxou" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <a href="https://www.youtube.com/watch?v=Pd3FBozJMYs&list=PLYKbEUQ15MtStLr4zMQbAWUfKjD9ghx14&index=4" target="_blank">ვიდეოზე გადასვლა</a>
            </div>
        </div>

        <hr>


        <div class="html_content_2">
            <div class="script">
                <h2>ახალი პროექტის დაწყება</h2>
                <ul>
                    <li> <span>Index.html</span> ფაილში ჩავწეროთ ! 
                        <button class="btn_visible_1">გამოჩენა</button>
                        <br>
                        <img src="{% static 'html_app/img/screen_leqcia_2_1.png' %}" alt="1" class="img_hidden img_visible_1">
                    </li>
                    <li>შემდეგ <span>Enter</span>  -ს დავაწვეთ
                        <button class="btn_visible_2">გამოჩენა</button>
                        <br>
                        <img src="{% static 'html_app/img/screen_leqcia_2_2.png' %}" alt="2" class="img_hidden img_visible_2">
                    </li>
                    <li>დააჭირეთ <span> ALT + Z</span> რომ დამალული ტექსტი ქვედა სქროლის გარეშე გამოჩნდეს
                        <button class="btn_visible_3">გამოჩენა</button>
                        <br>
                        <img src="{% static 'html_app/img/screen_leqcia_2_3.png' %}" alt="3" class="img_hidden img_visible_3">
                    </li>
                    <li>
                        <span>Search</span> - ის გამოყენება
                        <br>
                        ჩავწეროთ მაგალითად <span>title</span> და html დოკუმენტში ყველას მოგიძებნით
                        <button class="btn_visible_4">გამოჩენა</button>
                        <br>
                        <img src="{% static 'html_app/img/screen_leqcia_2_4.png' %}" alt="4" class="img_hidden img_visible_4">
                    </li>
                    </li>
                    <li>
                        თუ მაგალიდად <span>Replace</span> -ში ჩავწერთ სხვა ტეგს ან რამე ტექსტს, <span>title</span> - ს სადაც ნახავს ყველგან შეცვლის
                        <button class="btn_visible_5">გამოჩენა</button>
                        <br>
                        <img src="{% static 'html_app/img/screen_leqcia_2_5.png' %}" alt="5" class="img_hidden img_visible_5">
                        <img src="{% static 'html_app/img/screen_leqcia_2_6.png' %}" alt="6" class="img_hidden img_visible_6">
                    </li>
                </ul>
            </div>
        </div>

        <hr class="margin-top-hr">
        
        {% include 'html_app/html_home_console.html' %}
    </div>
    
    <script src="{% static 'html_app\js\html_home_video_2.js' %}"></script>

{% endblock %}