{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css1/css/z-index-navbar.css' %}">
    <title>navbar</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="">Logo.org</a>
        </div>
        <div class="menu">
            <a href="{% url 'z-index' %}">უკან დაბრუნება</a>
        </div>
    </header>

    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum est reiciendis cupiditate, vitae magni saepe quam nostrum rerum molestiae maiores aut recusandae, voluptatibus labore cum totam ipsum beatae atque aperiam?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam adipisci soluta velit itaque, laudantium quia accusantium, id vero voluptatibus tenetur fugiat, consectetur maiores! Assumenda praesentium atque illo natus ex?
            Odit blanditiis quo facere totam vitae ipsam. Qui, quidem omnis commodi optio officia sunt sit sed sapiente a molestiae aliquid odio et, voluptatum repellat adipisci vel, quas harum nemo exercitationem.
            Ad a veritatis fuga aut alias vero tempore tenetur pariatur unde, amet at, dignissimos similique asperiores dicta quia libero aperiam odio ipsam cupiditate sit nulla nostrum. Blanditiis delectus quis eligendi!
            Totam, aut placeat! Fuga, quos veritatis velit voluptas, consequatur laboriosam corporis iste quam quidem vitae fugiat deleniti quae quia dignissimos sed commodi, nostrum nesciunt quasi officiis laudantium pariatur dolores nobis!
            Tempora nihil iste, repudiandae molestias, nulla obcaecati ad tenetur fuga incidunt totam ipsam nesciunt delectus rem sequi omnis animi nisi quis voluptas reprehenderit cumque! Maiores voluptas sapiente fugit eum quibusdam!
            Distinctio sed amet adipisci blanditiis neque facere commodi minima reiciendis error tenetur. Atque est architecto modi quis maxime animi placeat aspernatur, veniam dolor, dignissimos voluptas porro molestias ratione, cupiditate veritatis?
            Ipsam odio veniam ipsa perferendis eligendi nihil distinctio inventore labore molestiae incidunt ex voluptatibus consectetur, quia dolores voluptates pariatur iure soluta ad assumenda aliquid, aspernatur esse. Fugit quod iste accusamus.
            Officiis ipsam saepe eum corrupti aliquid cupiditate repellendus ab necessitatibus sunt culpa blanditiis minus iste commodi quidem unde dolorem, dolor dolorum nobis illum voluptates ad nulla! Rem laborum id a?
            Reprehenderit assumenda porro deserunt saepe nobis aliquam at quis sit. Nulla, impedit. Similique autem modi eum id corporis doloremque distinctio eveniet vitae magni veniam alias et incidunt, dignissimos neque quod?
            Aspernatur, nostrum repellendus. Accusamus dolorum corrupti magni, excepturi harum vel rem architecto earum sunt iste, praesentium labore debitis eveniet fugiat velit amet nulla, similique provident a asperiores. Architecto, corrupti impedit!
        </p>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</body>
</html>