.box{display: grid;}

.box > h2{padding: 0; text-align: center;}

.box > h3{padding: 0; text-align: center;}

.box > p{width: 100%; text-align: center;}

.box > .button-onclick{
    width: 100px;
    height: 30px;
    margin: 10px;
    border-radius: 20px;
    border: 0px;
    transition: all .3s linear;
}
.box > .button-onclick:hover{
    border-radius: 0 10px;
}

.cont2{height: 500px;}

.calculator{
    text-align: center;
}

.calculator > a{
    padding: 0;
    text-decoration: none;
    color: aquamarine;
}
.calculator > a:hover{
    text-decoration: none;
}

.slider{
    text-align: center;
}

.slider > a{
    padding: 0;
    text-decoration: none;
    color: aquamarine;
}
.slider > a:hover{
    text-decoration: none;
}
