.content{
    display: block;
    margin: 0 20px;
}

.html_link_video_1_header{
    width: 100%;
    text-align: end;
    margin-top: 20px;
}

.html_link_video_1_header a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 30px;
    transition: all .3s linear;
}
.html_link_video_1_header a:hover{
    background-color: rgb(102, 221, 189);
    color: black;
    transform: scale(1.1);
}

.html_link_video_1_header a:last-child{
    margin-right: 20px;
}

.span_color{
    color: antiquewhite;
    margin-right: 25px;
    margin-left: 10px;
}

.html_header_video_1_header h1{
    color: antiquewhite;
    text-align: center;
}

.html_video_1{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.html_video_1_part_1, .html_video_1_part_2{
    text-align: center;
    justify-content: center;
    display: grid;
    margin-bottom: 20px;
}

.html_video_1_part_1 a, .html_video_1_part_2 a{
    text-decoration: none;
    margin-top: 20px;
    padding: 20px 0;
    border-radius: 30px;
    background-color: rgb(102, 221, 189);
    color: black;
    transition: all .3s linear;
}

.html_video_1_part_1 a:hover, .html_video_1_part_2 a:hover{
    border-radius: 0px 10px;
}


.html_video_1 iframe{
    border-radius: 20px;
}

/* ----------vscode_link--------- */
.vscode_link{
    margin-bottom: 20px;
}

.vscode_link_header{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    text-align: center;
}

.vscode_link_header img{
    width: 40px;
    height: 40px;
}

.download_center{
    width: 100%;
    text-align: center;
}

.download_center a{
    text-decoration: none;
    background-color: rgb(102, 221, 189);
    color: black;
    padding: 10px 20px 12px 20px;
    border-radius: 30px;
    transition: all .3s linear;
}
.download_center a:hover{
    border-radius: 0 10px;
}



/* -----html content 1------ */
.html_content_1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.script{
    width: 80%;
    height: 700px;
    margin-top: 20px;
    /* background-color: rgb(1, 36, 86); */
    background-color: #005a63;
    /* color: antiquewhite; */
    color: #06d6a0;
}

.script h2{
    text-align: center;
    color: antiquewhite;
}

.script ul li{
    margin-bottom: 10px;
}

.script ul li span{
    color: rgb(168, 44, 199);
}

.script ul li img{
    margin-top: 20px;
    width: 400px;
}

.margin-top-hr{
    margin: 50px 0;
}






@media screen and (max-width: 1220px){
    .html_video_1{
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 620px){
    iframe{
        width: 300px;
        height: 200px;
    }
}


@media screen and (max-width: 650px){
    .script ul li img{
        width: 300px;
    }
}

@media screen and (max-width: 500px){
    .script ul li img{
        width: 200px;
    }
}

@media screen and (max-width: 380px){
    .script ul li img{
        width: 150px;
    }
}