

@media screen and (max-width: 1200px){
    .box{
        width: 60vh;
    }
}

@media screen and (max-width: 1060px){
    .box{
        width: 50vh;
    }
}

@media screen and (max-width: 870px){
    .box{
        width: 40vh;
    }
}

@media screen and (max-width: 700px){
    .content{
        grid-template-columns: auto;
    }

    .box{
        width: 70vh;
    }
}

@media screen and (max-width: 700px){
    .box{
        width: 60vh;
    }
}

@media screen and (max-width: 500px){
    .box{
        width: 50vh;
    }
}

@media screen and (max-width: 410px){
    .box{
        width: 35vh;
    }
}

/* large */
@media screen and (max-width: 1490px) and (min-height: 980px){
    .box{
        width: 60vh;
    }
}

@media screen and (max-width: 1310px) and (min-height: 980px){
    .box{
        width: 50vh;
    }
}

@media screen and (max-width: 1075px) and (min-height: 980px){
    .box{
        width: 40vh;
    }
}

@media screen and (max-width: 875px) and (min-height: 980px){
    .box{
        width: 35vh;
    }
}

@media screen and (max-width: 770px) and (min-height: 980px){
    .box{
        width: 30vh;
    }
}