{% extends 'home/base.html' %}

{% load static %}

{% block title %} Html Video 3 {% endblock %}
{% block link %} 
    <link rel="stylesheet" href="{% static 'html_app/styles/universal_style.css' %}">
{% endblock %}


{% block content %} 

    
<div class="html_header_video">
    <div class="html_back_links">
        <a href="{% url 'home' %}">მთავარი</a>
        <span>></span>
        <a href="{% url 'html_home' %}">HTML</a>
        <span>></span>
        <span class="span_color">HTML ვიდეო ლექცია 3</span>
    </div>

    <h1 class="h1_header"> <span>HTML</span> ვიდეო <br> ლექცია 3</h1>
    <hr>

    <div class="html_video_content">
        <div class="html_video_content_part_1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nI1O99YsrU8?si=SVty3Djvfwc54Nvt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="html_video_iframe" class="html_video_iframe"></iframe>

            <a href="https://www.youtube.com/watch?v=nI1O99YsrU8&ab_channel=BeqaShevardenidze" class="html_video_content_a_button" target="_blank">ვიდეოზე გადასვლა</a>
        </div>

        <div class="html_video_content_part_2">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ddh9_WGuEUI?si=SWQFOQKJ5uUJ2IUy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="html_video_iframe" class="html_video_iframe"></iframe>

            <a href="https://www.youtube.com/watch?v=Ddh9_WGuEUI&ab_channel=BeqaShevardenidze" class="html_video_content_a_button" target="_blank">ვიდეოზე გადასვლა</a>
        </div>
    </div>

    <hr>
    <div class="html_content">

        <div class="script">

            <h2 class="script_header_h2">ლინკი ჰიპერბმული</h2>
            <div class="btn_center">
                <button class="btn_visible_style visible_btn">ვრცლად</button>
            </div>

            <ul class="start_new_project_ul visible_ul" style="display: none;">
                <li class="script_ul_li">
                    <h3 class="script_ul_li_h3"> 
                        a ტეგი HTML კოდი ქმნის ჰიპერბმულს (ლინკს), რომელიც გადადის Google-ის მთავარ გვერდზე.
                        <br> <br>
                        <div class="scroll_container">
                            <span class="code_style">
                                <div class="symbol"><</div>
                                <div class="tag">a</div>
                                <div class="atribute"> href</div>
                                <div class="equal">=</div>
                                <div class="value">"https://www.google.com"</div>
                                <div class="symbol">></div>
                            </span>
                        </div>
                    </h3>
                    <h3 class="script_ul_li_h3">
                        განმარტება:
                    </h3>
                    <ul class="inner_ul">
                        <li>
                            <span class="color_tags">&lt; a &gt;</span> - ქმნის ლინკს (ჰიპერბმულს).
                        </li>
                        <li>
                            <div class="scroll_container">
                                <span class="color_tags">
                                    href="https://www.google.com"
                                </span> 
                            </div>
                                - URL-მისამართი, რომელზეც გადადის ბმული (ამ შემთხვევაში, Google-ის გვერდი).
                        </li>
                        <li>
                            <span class="color_tags">Google</span> -
                            ის ტექსტია, რომელიც გამოჩნდება ბმულად.
                        </li>
                    </ul>
                    <hr>
                    <h3 class="script_ul_li_h3">როგორ იმუშავებს?
                    </h3>
                    <ul>
                        <li>
                            ბრაუზერში ეს გამოჩნდება ასე:
                            -
                            <a href="https://www.google.com" style="color: rgb(0, 136, 255);">Google</a>
                        </li>
                        <li>
                            როცა დააწკაპუნებ "Google"-ზე, გაიხსნება Google-ის მთავარი გვერდი.
                        </li>
                    </ul>
                    <hr>
                    <h3 class="script_ul_li_h3">
                        დამატებითი პარამეტრები:
                    </h3>
                    <ul>
                        <li>
                            <h4>ლინკის გახსნა ახალ ფანჯარაში:</h4>
                            <div class="scroll_container">
                                <span class="code_style">
                                    <div class="symbol"><</div>
                                    <div class="tag">a</div>
                                    <div class="atribute">href</div>
                                    <div class="equal">=</div>
                                    <div class="value">"https://www.google.com"</div>
                                    <div class="atribute">target</div>
                                    <div class="equal">=</div>
                                    <div class="value">"_blank"</div>
                                    <div class="symbol">></div>
                                    Google
                                    <div class="symbol"><</div>
                                    <div class="symbol">/</div>
                                    <div class="tag">a</div>
                                    <div class="symbol">></div>
                                </span>
                            </div>
                            <br>
                            <span class="color_tags"> target="_blank"</span>
                            - გახსნის ბმულს ახალ ფანჯარაში ან ჩანართში.
                        </li>
                        <li>

                            <h4>ლინკი ტელეფონის ნომერზე (დარეკვა):</h4>
                            
                            <!-- დაკოპირება -->
                            <pre id="codeBlock" style="display: none;">
<pre>&lt;a href="tel:+995599123456">დარეკვა&lt;/a&gt;</pre>
                            </pre>

                            <div class="btn_copy">
                                <div onclick="copyCode()" class="btn_copy_style">კოპირება</div>
                            </div>
                            
                            <div class="scroll_container">
                                <span class="code_style">
                                    <div class="symbol"><</div>
                                    <div class="tag">a</div>
                                    <div class="atribute">href</div>
                                    <div class="equal">=</div>
                                    <div class="value">"tel:+995599123456"</div>
                                    <div class="symbol">></div>
                                    დარეკვა
                                    <div class="symbol"><</div>
                                    <div class="symbol">/</div>
                                    <div class="tag">a</div>
                                    <div class="symbol">></div>
                                </span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="script">
            <h2 class="script_header_h2">ლინკში (ჰიპერბმულში) ჩასმული სურათის ტეგი IMG</h2>
            <div class="btn_center">
                <button class="btn_visible_style visible_btn_2">ვრცლად</button>
            </div>

            <ul class="start_new_project_ul visible_ul_2" style="display: none;">
                <li class="script_ul_li">
                    <h3 class="script_ul_li_h3">
                        ეს კოდი წარმოადგენს ჰიპერბმულს <span class="color_tags">< a ></span>, რომელშიც ჩასმულია სურათი <span class="color_tags">
                            < img >
                        </span> .
                        როდესაც მომხმარებელი დააწკაპუნებს ამ სურათზე, ის გადამისამართდება Google-ის ვებსაიტზე.
                    </h3>

                    <h3 class="script_ul_li_h3">
                        კოდის ანალიზი:
                    </h3>

                    <!-- კოდის კოპირება -->
                    <pre id="codeBlock" style="display: none;">
<pre>
&lt;a href="https://www.google.com"&gt;
    &lt;img src="https://emojiisland.com/cdn/shop/products/Flushed_Emoji_Icon_5e6ce936-4add-472b-96ba-9082998adcf7_large.png?v=1571606089" 
    alt="Emoji" style="width: 100px; height: 100px;"&gt;
&lt;/a&gt;
</pre>
                    </pre>
                    <div class="btn_copy">
                        <div onclick="copyCode()" class="btn_copy_style">კოპირება</div>
                    </div>

                    <div class="scroll_container">
                        <span class="code_style">
                            <div class="symbol"><</div>
                            <div class="tag">a</div>
                            <div class="atribute">href</div>
                            <div class="equal">=</div>
                            <div class="value">"https://www.google.com"</div>
                            <div class="symbol">></div>
                        </span>
    
                        <span class="code_style" style="padding-left: 25px; margin-top:-5px">
                            <div class="symbol"><</div>
                            <div class="tag">img</div>
                            <div class="atribute">src</div>
                            <div class="equal">=</div>
                            <div class="value">"emoji link"</div>
                            <div class="atribute">alt</div>
                            <div class="equal">=</div>
                            <div class="value">"Emoji"</div>
                            <div class="atribute">style</div>
                            <div class="equal">=</div>
                            <div class="value">"width: 100px; height: 100px;"</div>
                            <div class="symbol">></div>
                        </span>
    
                        <span class="code_style" style="margin-top:-5px">
                            <div class="symbol"><</div>
                            <div class="symbol">/</div>
                            <div class="tag">a</div>
                            <div class="symbol">></div>
                        </span>
                    </div>

                    <hr>

                    <h3 class="script_ul_li_h3">
                        რას აკეთებს ეს კოდი?
                    </h3>

                    <ul class="ul_margin_bottom">
                        <li>
                            <span class="color_tags">
                                < a href="https://www.google.com"></ a>
                            </span>
                            ქმნის ლინკს Google-ის ვებსაიტზე.
                        </li>
                        <li>
                            <span class="color_tags">
                                < img >
                            </span>
                            აჩვენებს სურათს

                            <ul class="ul_margin_bottom">
                                <li>
                                    <span class="color_tags">
                                        src="..."
                                    </span>
                                    სურათის ბმული
                                </li>
                                <li>
                                    <span class="color_tags">alt="Emoji"</span>
                                    ალტერნატიული ტექსტი (სურათი თუ არ ჩაიტვირთება, ეს ტექსტი გამოჩნდება).
                                </li>
                                <li>
                                    <span class="color_tags">style="width: 100px; height: 100px;"</span>
                                    განსაზღვრავს სურათის ზომას (100x100px).
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="color_tags">
                                < /a > 
                            </span>
                            ხურავს ლინკს
                        </li>
                    </ul>

                </li>
            </ul>
        </div>

        <div class="script">
            <h2 class="script_header_h2">ლინკის ახალ ფანჯარაში გახსნა</h2>
            <div class="btn_center">
                <button class="btn_visible_style visible_btn_3">ვრცლად</button>
            </div>

            <ul class="start_new_project_ul visible_ul_3" style="display: none;">
                <li class="script_ul_li">
                    <h3 class="script_ul_li_h3">
                        როდესაც მომხმარებელი დააჭერს ემოჯის 
                        <span class="color_tags">
                            target="_blank"
                        </span> 
                        -ით ლინკი გაიხსნება ახალ ფანჯარაში
                    </h3>

                    <h3 class="script_ul_li_h3">
                        მაგალითად:
                    </h3>

                    <!-- კოდის კოპირება -->
                    <pre id="codeBlock1" style="display: none;">
<pre>
&lt;a href="https://www.google.com" target="_blank"&gt;
    &lt;img src="https://emojiisland.com/cdn/shop/products/Flushed_Emoji_Icon_5e6ce936-4add-472b-96ba-9082998adcf7_large.png?v=1571606089" 
    alt="Emoji" style="width: 100px; height: 100px;"&gt;
&lt;/a&gt;
</pre>
                    </pre>
                    <div class="btn_copy">
                        <div onclick="copyCode()" class="btn_copy_style">კოპირება</div>
                    </div>

                    <div class="scroll_container">
                        <span class="code_style">
                            <div class="symbol"><</div>
                            <div class="tag">a</div>
                            <div class="atribute">href</div>
                            <div class="equal">=</div>
                            <div class="value">"https://www.google.com"</div>

                            <div class="atribute">target</div>
                            <div class="equal">=</div>
                            <div class="value">"_blank"</div>
                            <div class="symbol">></div>
                        </span>

                        <span class="code_style" style="padding-left: 25px;">
                            <div class="symbol"><</div>
                            <div class="tag">img</div>
                            <div class="atribute">src</div>
                            <div class="equal">=</div>
                            <div class="value">"emoji link"</div>

                            <div class="atribute">alt</div>
                            <div class="equal">=</div>
                            <div class="value">"Emoji"</div>

                            <div class="atribute">style</div>
                            <div class="equal">=</div>
                            <div class="value">"width: 100px; height: 100px;"</div>
                            <div class="symbol">></div>
                        </span>

                        <span class="code_style">
                            <div class="symbol"><</div>
                            <div class="symbol">/</div>
                            <div class="tag">a</div>
                            <div class="symbol">></div>
                        </span>
                    </div>
                </li>
            </ul>            
        </div>

        <div class="script">
            <h2 class="script_header_h2">
                HTML ელემენტების სამ ძირითად ტიპს:
            </h2>
            <h2 class="script_header_h2">
                Block, Inline, Inline-block
            </h2>
            <div class="btn_center">
                <button class="btn_visible_style visible_btn_4">
                    ვრცლად
                </button>
            </div>

            <ul class="start_new_project_ul visible_ul_4" style="display: none;">
                <li class="script_ul_li">
                    <h3 class="script_ul_li_h3">
                        რა არის ბლოკური ელემენტი (Block Element)
                    </h3>
                    <h4 class="h4_margin_0">ეს არის ელემენტი რომელიც</h4>
                    <ul>
                        <li>
                            ყოველთვის იწყება ახალი ხაზიდან
                        </li>
                        <li>
                            იკავებს მთელ სიგანეს
                        </li>
                        <li>
                            შეიძლება ჰქონდეს სხვა ელემენტებიც შიგნით
                        </li>
                        <h4 class="h4_margin_0">მაგალითები:</h4>
                    </ul>
                    <h4 class="h4_margin_0">მაგალითები:</h4>
                    <div class="tags" style="margin: 10px 0;">
                        <span class="color_tags">
                            &lt;div&gt;
                        </span>,
                        <span class="color_tags">
                            &lt;p&gt;
                        </span>,
                        <span class="color_tags">
                            &lt;h1&gt;
                        </span>,
                        <span class="color_tags">
                            &lt;section&gt;
                        </span>,
                        <span class="color_tags">
                            &lt;ul&gt;
                        </span>,
                        <span class="color_tags">
                            &lt;article&gt;
                        </span>,და სხვა.
                    </div>

                    <div class="btn_copy">
                        <div onclick="copyCode()" class="btn_copy_style">კოპირება</div>
                    </div>

                    <div class="scroll_container">
                        <div class="code_style">
                            <div class="symbol"><</div>
                            <div class="tag">p</div>
                            <div class="symbol">></div>
                            ეს არისდ აბზაცი
                            <div class="symbol"><</div>
                            <div class="symbol">/</div>
                            <div class="tag">p</div>
                            <div class="symbol">></div>
                        </div>
                        <div class="code_style">
                            <div class="symbol"><</div>
                            <div class="tag">p</div>
                            <div class="symbol">></div>
                            ეს არის მეორე აბზაცი
                            <div class="symbol"><</div>
                            <div class="symbol">/</div>
                            <div class="tag">p</div>
                            <div class="symbol">></div>
                        </div>
                    </div>

                    <h4 class="h4 margin_0">შედეგი:</h4>
                    <p> თითო აბზაცი ახალი ხაზიდან ჩანს.</p>
                </li>
                <li class="script_ul_li">
                    <h3 class="script_ul_li_h3">
                        რა არის ხაზოვანი ელემენტი (Inline Element)?
                    </h3>
                    <h4 class="h4_margin_0">ეს არის ელემენტი რომელიც:</h4>
                    <ul>
                        <li>
                            არ იწყება ახალი ხაზიდან
                        </li>
                        <li>
                            იკავებს იმდენ ადგილს, რამდენიც შინაარსს სჭირდება
                        </li>
                        <li>
                            შიგნით ბლოკური ელემენტების ჩასმა არ შეიძლება
                        </li>
                    </ul>
                    <h4 class="h4_margin_0">მაგალითები:</h4>
                    <div class="tags" style="margin: 10px 0;">
                        <span class="color_tags">
                            &lt;div&gt;
                        </span>,
                        <span class="color_tags">
                            &lt;a&gt;
                        </span>,
                        <span class="color_tags">
                            &lt;strong&gt;
                        </span>,
                        <span class="color_tags">
                            &lt;em&gt;
                        </span>,
                        <span class="color_tags">
                            &lt;img&gt;
                        </span>
                    </div>
                    <br>
                    <h4 class="h4_margin_0">მაგალითი:</h4>
                    <br>
                    <div class="btn_copy">
                        <div onclick="copyCode()" class="btn_copy_style">კოპირება</div>
                    </div>
                    <div class="scroll_container">
                        <span class="code_style">
                            <div class="symbol"><</div>
                            <div class="tag">p</div>
                            <div class="symbol">></div>
                            ეს არის
                            <span class="code_style">
                                &lt;span&gt; ხაზოვანი &lt;/span&gt;
                            </span>
                            ტექსტი
                            <div class="symbol"><</div>
                            <div class="symbol">/</div>
                            <div class="tag">p</div>
                            <div class="symbol">></div>
                        </span>
                    </div>
                    <br>
                    <h4 class="h4_margin_0">შედეგი: 
                        <span class="color_tags">
                            &lt;span&gt; 
                        </span>
                        ტექსტში ჩასმულია და არ იწყებს ახალ ხაზს.</h4>
                </li>
                <li class="script_ul_li">
                    <h3 class="script_ul_li_h3">
                        რა არის ხაზოვან-ბლოკური ელემენტი (Inline-Block Element)?
                    </h3> 
                    <h4 class="h4_margin_0">ეს არის ელემენტი, რომელიც:</h4>
                    <ul>
                        <li>ერთ ხაზზე ჩანს სხვა ელემენტებთან ერთად</li>
                        <li>შეიძლება მისცე ზომა (width, height)</li>
                        <li>ბლოკივით იქცევა, მაგრამ ხაზოვნივით ჩანს</li>
                    </ul>
                    <h4 class="h4_margin_0">მაგალითები:</h4>
                    <p class="p_test"><!-- დაპატარავების დროს ერთმანეთს ედებოდა -->
                        <span class="color_tags">&lt;input&gt;</span>,
                        <span class="color_tags">&lt;button&gt;</span>,
                        <span class="color_tags">&lt;img&gt;</span>,
                        (ზოგჯერ), ან ნებისმიერი ელემენტი, რომელსაც 
                        <span class="color_tags">
                            display: inline-block 
                        </span>
                        მისცემ
                    </p>
                    <h4 class="h4_margin_0">მაგალითი:</h4>
                    <div class="btn_copy">
                        <div onclick="" class="btn_copy_style"></div>
                    </div>
                    <div class="scroll_container2">
                        <span class="code_style">
                            <div class="symbol"><</div>
                            <div class="tag">div</div>
                            <div class="atribute">style</div>
                            <div class="equal">=</div>
                            <div class="value">"display: inline-block; width: 100px; height: 100px; background: lightblue;"</div>
                            <div class="symbol">></div>
                            <div class="symbol"><</div>
                            <div class="symbol">/</div>
                            <div class="tag">div</div>
                            <div class="symbol">></div>
                        </span>
                        <span class="code_style">
                            <div class="symbol"><</div>
                            <div class="tag">div</div>
                            <div class="atribute">style</div>
                            <div class="equal">=</div>
                            <div class="value">"display: inline-block; width: 100px; height: 100px; background: pink;"</div>
                            <div class="symbol">></div>
                            <div class="symbol"><</div>
                            <div class="symbol">/</div>
                            <div class="tag">div</div>
                            <div class="symbol">></div>
                        </span>
                    </div>
                    <h4 class="h4_margin_0">
                        შედეგი: ორივე კვადრატი ერთ ხაზზე იქნება.
                    </h4>
                </li>
            </ul>

        </div>


        <div class="script">
            <h2 class="script_header_h2">ახალ ხაზზე გადასვლის ტეგი HTML-ში</h2>
            <div class="btn_center">
                <button class="btn_visible_style visible_btn_5">ვრცლად</button>
            </div>
            <ul class="start_new_project_ul visible_ul_5" style="display: none;">
                <li class="script_ul_li">
                    <h3 class="script_ul_li_h3">
                        <span class="color_tags">
                            < br > 
                        </span>
                        გამოიყენება, როცა გინდა ტექსტი გადახვიდეს ახალ ხაზზე, როგორც პოეზიაში, მისამართებში ან მოკლე ტექსტურ ბლოკებში.
                    </h3>
                    <h3 class="script_ul_li_h3">
                        მაგალითი:
                    </h3>

                    <div class="btn_copy">
                        <div onclick="copyCode()" class="btn_copy_style">კოპირება</div>
                    </div>

                    <div class="scroll_container">
                        <span class="code_style">
                            <div class="symbol"><</div>
                            <div class="tag">p</div>
                            <div class="symbol">></div>
                            <br>
                        </span>
                        
                        <span class="code_style"  style="padding-left: 25px;">
                            აქ გადავა &lt;br&gt; მეორე ხაზზე
                        </span>
                        
                        <span class="code_style">
                            <div class="symbol"><</div>
                            <div class="symbol">/</div>
                            <div class="tag">p</div>
                            <div class="symbol">></div>
                            <br>
                        </span>
                    </div>

                    <h3 class="script_ul_li_h3">
                        როცა ეს ბრაზუსერში გამოჩნდება, იქნება ასე:
                    </h3>

                    <div class="scroll_container">
                        <div class="code_style">
                            აქ გადავა <br>
                            მეორე ხაზზე
                        </div>
                    </div>

                </li>
            </ul>
        </div>

        <div class="script">
            <h2 class="script_header_h2">3 ლექციის გაერთიანება 1 ფაილში</h2>
            <div class="btn_center">
                <button class="btn_visible_style visible_btn_6">ვრცლად</button>
            </div>

            <ul class="start_new_project_ul visible_ul_6" style="display:none">
                <li class="script_ul_li">
                    <h3 class="script_ul_li_h3">დავალება:</h3>
                    <ol>
                        <li>3 ლექციის ფაილი + სურათი </li>
                        <li>index.html -> მთავარი გვერდი</li>
                        <li>მთავარ გვერდზე გავლინკოთ დანარჩენი 3 გვერდის ფაილი</li>
                        <li>ყველა ფაილს ქონდეს სწორი title</li>
                    </ol>
                    
                </li>
            </ul>
        </div>

        <div class="script">
            <h2 class="script_header_h2">ლექციის კოდი</h2>
            <hr class="hr_padding_2">
            <div class="box_download_main">
                <div class="box_download">
                    <img src="{% static 'html_app/img/code_box_icons/downlaod-file.png' %}" alt="downlaod">
                    <a href="{% static 'video_code/video_3_code/Download_3.rar' %}">გადმოწერა</a>
                </div>
                <div class="box_download">
                    <img src="{% static 'html_app/img/code_box_icons/view.png' %}" alt="downlaod">

                    <a href="{% static 'video_code/video_3_code/view_code/view_code.html' %}">კოდის ნახვა</a>
                    
                </div>
                <div class="box_download">
                    <div class="img_box">
                        <img src="{% static 'html_app/img/code_box_icons/downlaod-file.png' %}" alt="downlaod">
                    </div>
                    <div class="a_box">
                        <a href="{% static '/video_code/video_3_code/project_3/index_video3_2_file.html' %}">ვებზე გადასვლა</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <hr>

</div>


    {% include 'html_app/html_home_console.html' %}

    <script src="{% static 'html_app/js/universal_script.js' %}"></script>
    <script src="{% static 'html_app/js/copy_text.js' %}"></script>
    


{% endblock %}