.content{
    display: block;
    margin: 0 20px;
}

.html_header h1{
    color: antiquewhite;
    text-align: center;
}

.html_content{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}

.html_box{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    border-radius: 20px;
    background-color: rgb(31, 83, 81);
}

.html_box .html_box_content{
    margin: 20px;
}